In [52]:

import pandas as pd
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt
import numpy as np
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
# imprt tree
from sklearn import tree
# import metrics
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.preprocessing import OneHotEncoder

In [53]:
df_raw = pd.read_csv("./labeled_data/labeled_df_15.csv", encoding_errors="ignore", on_bad_lines='skip', sep=",", index_col=False,
                    usecols=['SessionID','Activity','anomaly'])
# df_raw["TIMESTAMP"] = pd.to_datetime(df_raw["TIMESTAMP"], infer_datetime_format=True)
# df_raw = df_raw.sort_values(by=["SessionID", "TIMESTAMP"]).copy()
df_raw

         SessionID                                           Activity  anomaly
0               46    /werk_nl/werknemer/mijn_werkmap/doorgeven/taken    False
1               46  /werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...    False
2               46  /werk_nl/werknemer/mijn_werkmap/postvak/mijn_d...    False
3               46  /werk_nl/werknemer/mijn_werkmap/postvak/mijn_b...    False
4               46  /werk_nl/werknemer/mijn_werkmap/postvak/mijn_b...    False
...            ...                                                ...      ...
7174929   55314751                         /werk_nl/werknemer/werkmap    False
7174930   55314751    /werk_nl/werknemer/mijn_werkmap/doorgeven/taken    False
7174931   55314751    /werk_nl/werknemer/mijn_werkmap/doorgeven/taken    False
7174932   55314751    /werk_nl/werknemer/mijn_werkmap/doorgeven/taken    False
7174933   55314751    /werk_nl/werknemer/mijn_werkmap/doorgeven/taken    False

[7174934 rows x 3 columns]

In [54]:
# change anomaly == True to 1 and False to 0
df_raw["anomaly"] = df_raw["anomaly"].astype(int)

In [55]:
# count the number of unique SessionID where anomaly == True
count_anomaly_raw = df_raw[df_raw["anomaly"] == 1]["SessionID"].nunique()
count_normal_raw = df_raw[df_raw["anomaly"] == 0]["SessionID"].nunique()
print(f'Amount of anomalous sessions in the dataset:   {count_anomaly_raw}' )
print(f'Amount of normal sessions in the dataset:      {count_normal_raw}')
distribution =  count_anomaly_raw / count_normal_raw 
print(f'Distribution:                                  {distribution * 100} %')

Amount of anomalous sessions in the dataset:   355
Amount of normal sessions in the dataset:      659915
Distribution:                                  0.05379480690695014 %

In [56]:
df_anomaly = df_raw[df_raw["anomaly"] == 1].copy()
df_normal = df_raw[df_raw["anomaly"] == 0].copy()
nr_of_sessions_used = 50000
injection_rate = nr_of_sessions_used / count_normal_raw
injection_amount = int(injection_rate * count_anomaly_raw)
print(injection_rate)
print(injection_amount)
# get 20 random sessionIDs from the anomaly dataset
anomaly_sessionIDs = df_anomaly["SessionID"].sample(n=injection_amount, random_state=1).tolist()

0.07576733367176075
26

In [57]:
# pick random int > 0 and < (len(df_raw) - nr_of_sessions_used)
lower = np.random.randint(0, len(df_raw) - nr_of_sessions_used)
upper = lower + nr_of_sessions_used
print(f'Lower bound: {lower}')
print(f'Upper bound: {lower + nr_of_sessions_used}')
# get a random sample of the sessions
# df_ = df_raw[df_raw["SessionID"].isin(df_raw["SessionID"].unique()[:nr_of_sessions_used])].copy()
df_ = df_normal[df_normal["SessionID"].isin(df_normal["SessionID"].unique()[:nr_of_sessions_used])].copy()
df_ = df_.append(df_anomaly[df_anomaly["SessionID"].isin(anomaly_sessionIDs)], ignore_index=True)
# Only use the columns that are needed -> SessionID, Activity, anomaly
df_50k = df_[["SessionID", "Activity", "anomaly"]]


# remove the sessions with ID in anomaly_sessionIDs from the df_anomaly dataset
df_anomaly = df_anomaly[~df_anomaly["SessionID"].isin(anomaly_sessionIDs)].copy()
df_anomaly.to_csv("gen_sessions/an.csv", index=False)

Lower bound: 1550847
Upper bound: 1600847

In [58]:
# count the number of unique SessionID where anomaly == True
count_anomaly = df_50k[df_50k["anomaly"] == 1]["SessionID"].nunique()
count_normal = df_50k[df_50k["anomaly"] == 0]["SessionID"].nunique()
print(f'Amount of anomalous sessions in the sampled dataset:   {count_anomaly}')
print(f'Amount of normal sessions in the sampled dataset:      {count_normal}')
distribution =  count_anomaly / count_normal 
print(f'Distribution:                                          {distribution * 100} %')

Amount of anomalous sessions in the sampled dataset:   26
Amount of normal sessions in the sampled dataset:      50000
Distribution:                                          0.052 %

Helper Functions

In [59]:
# function to encode the activities
def encode_list(_list:list) -> list:
    _l = _list.copy()
    le = LabelEncoder()
    le.fit(_l)
    l= le.transform(_l)
    return l

# function to create a list of al the activities
def activities_list(_df):
  df = _df.copy()
  activities = []
  for i in df["Activity"].unique():
    activities.append(i)
  return activities

# function to create a list of all the transitions
def get_all_transitions(_df):
  df = _df.copy()
  transitions = []
  # create consecutive column
  df['consecutive'] = df.groupby("SessionID")['Activity'].shift(-1)
  # if consecutive is NaN, then consecutive = END
  df['consecutive'] = df['consecutive'].fillna("END")
    # create column with the transition
  df['transition'] = df['Activity'] + "->" + df['consecutive']
  # get all unique transitions en put in transitions list
  transitions = df['transition'].unique().tolist()
  return transitions
  

# function to create a dictionary with the activities as keys and the one hot encoded activities as values
def create_dict(l1, l2):
  dic = {}
  for i in range(len(l1)):
    dic[l1[i]] = l2[i]
  return dic

# function to transform each session into a sequence of activities
def transform_session_to_sequence(_df):
  df = _df.copy()
  df_ses = df.groupby("SessionID")["Activity"].apply(list).reset_index()
  # merge the anomaly column
  df_ses = df_ses.merge(df[["SessionID", "anomaly"]].drop_duplicates(), on="SessionID")
  return df_ses

# function the create the dataFrame for the model
def df_for_model(_df,Activity_col):
  df = pd.DataFrame(_df[Activity_col].values.tolist(), index= _df.index)
  df_for_model = pd.concat([_df, df], axis=1)
  df_for_model = df_for_model.drop(columns=[Activity_col])
  df_for_model.fillna(0, inplace=True)
  return df_for_model
  
# function to concat 2 dataframes
def concat_df(df_gen ,amount_real,amount_generated,_df1 = df_raw,):
  df1 = _df1.copy()
  df2 = df_gen
  df_raw_filtered = df1[df1["SessionID"].isin(df1["SessionID"].unique()[:amount_real])]
  df_gen_anomalies_filtered = df2[df2["SessionID"].isin(df2["SessionID"].unique()[:amount_generated])]
  df = pd.concat([df_raw_filtered, df_gen_anomalies_filtered], ignore_index=True)
  return df

GLOBALS

In [60]:
# Global variables
# list of all possible activities in df_raw
ALL_ACTIVITIES = activities_list(df_raw)
ENCODED_ACTIVITIES = encode_list(ALL_ACTIVITIES)

ALL_TRANSITIONS = get_all_transitions(df_raw)
ENCODED_TRANSITIONS = encode_list(ALL_TRANSITIONS)

DICT = create_dict(ALL_ACTIVITIES, ENCODED_ACTIVITIES)
DICT_TRANSITIONS = create_dict(ALL_TRANSITIONS, ENCODED_TRANSITIONS)

if len(ALL_ACTIVITIES) == len(ENCODED_ACTIVITIES) == len(DICT) == len(ALL_TRANSITIONS) == len(ENCODED_TRANSITIONS):
  print("All lists are the same length")

Stappenplan:

1. df -> transform_session_to_sequence
2. Transform Activities to encoded Activities
3. Transform the list in the Activity column to multiple columns with fillna(0)

In [61]:
base_data = transform_session_to_sequence(df_50k)
# base_an = transform_session_to_sequence(df_50k)
base_data

       SessionID                                           Activity  anomaly
0             46  [/werk_nl/werknemer/mijn_werkmap/doorgeven/tak...        0
1             92                  [/werk_nl/werknemer/mijn_werkmap]        0
2            358  [/werk_nl/werknemer/mijn_werkmap/postvak/mijn_...        0
3            420  [/werk_nl/werknemer/mijn_werkmap/doorgeven/tak...        0
4            447  [/werk_nl/werknemer/mijn_werkmap/postvak/mijn_...        0
...          ...                                                ...      ...
50021   42771301  [/werk_nl/werknemer/mijn_werkmap/werk-zoeken/v...        1
50022   45419685  [/werk_nl/werknemer/home, /werk_nl/werknemer/e...        1
50023   46475745  [/werk_nl/werknemer/contact, /portal/page/port...        1
50024   50623714  [/werk_nl/werknemer/home, /werk_nl/werknemer/m...        1
50025   51250333  [/werk_nl/werknemer/home, /werk_nl/werknemer/m...        1

[50026 rows x 3 columns]

In [62]:
# function that combines a item in a list with the next item
def list_combine(_list):
  list_ = _list.copy()
  res= []
  for index,item in enumerate(list_):
    if index < len(list_)-1:
      res.append(item + "->" + list_[index+1])
    else:
      res.append(item + "->" + "END")
  return res

In [63]:
# base_data['Activity'] = base_data['Activity'].apply(list_combine)

In [64]:
base_data['Activity']

0        [/werk_nl/werknemer/mijn_werkmap/doorgeven/tak...
1                        [/werk_nl/werknemer/mijn_werkmap]
2        [/werk_nl/werknemer/mijn_werkmap/postvak/mijn_...
3        [/werk_nl/werknemer/mijn_werkmap/doorgeven/tak...
4        [/werk_nl/werknemer/mijn_werkmap/postvak/mijn_...
                               ...
50021    [/werk_nl/werknemer/mijn_werkmap/werk-zoeken/v...
50022    [/werk_nl/werknemer/home, /werk_nl/werknemer/e...
50023    [/werk_nl/werknemer/contact, /portal/page/port...
50024    [/werk_nl/werknemer/home, /werk_nl/werknemer/m...
50025    [/werk_nl/werknemer/home, /werk_nl/werknemer/m...
Name: Activity, Length: 50026, dtype: object

In [65]:
base_data['Activity'] = base_data['Activity'].apply(lambda x: [DICT[i] for i in x])
# base_an['Activity'] = base_an['Activity'].apply(lambda x: [DICT[i] for i in x])

In [66]:
base_data

       SessionID                                           Activity  anomaly
0             46                     [372, 371, 392, 391, 391, 391]        0
1             92                                              [369]        0
2            358      [391, 372, 401, 391, 391, 391, 391, 369, 367]        0
3            420                     [372, 372, 372, 372, 372, 372]        0
4            447                               [391, 391, 391, 391]        0
...          ...                                                ...      ...
50021   42771301  [402, 402, 402, 402, 402, 402, 165, 367, 622, ...        1
50022   45419685  [367, 365, 398, 365, 365, 398, 398, 398, 398, ...        1
50023   46475745  [353, 41, 41, 367, 41, 41, 41, 41, 41, 41, 43,...        1
50024   50623714  [367, 391, 392, 392, 372, 372, 372, 371, 371, ...        1
50025   51250333  [367, 393, 393, 393, 393, 393, 393, 393, 393, ...        1

[50026 rows x 3 columns]

In [67]:
base_data = df_for_model(base_data, "Activity")
# base_an = df_for_model(base_an, "Activity")

In [68]:
base_data
# drop the SessionID column
base_data = base_data.drop(columns=["SessionID"])
base_data

,anomaly,0,1,2,3,4,5,6,7,8,...,355,356,357,358,359,360,361,362,363,364
0,0,372,371.0,392.0,391.0,391.0,391.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0,369,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,391,372.0,401.0,391.0,391.0,391.0,391.0,369.0,367.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,372,372.0,372.0,372.0,372.0,372.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0,391,391.0,391.0,391.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50021,1,402,402.0,402.0,402.0,402.0,402.0,165.0,367.0,622.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50022,1,367,365.0,398.0,365.0,365.0,398.0,398.0,398.0,398.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50023,1,353,41.0,41.0,367.0,41.0,41.0,41.0,41.0,41.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50024,1,367,391.0,392.0,392.0,372.0,372.0,372.0,371.0,371.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
50025,1,367,393.0,393.0,393.0,393.0,393.0,393.0,393.0,393.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Functions to run the model

In [69]:
# Function to split the data into train and test data
def split_data(_df):
  df = _df.copy()
  X = df.drop(columns=["anomaly"])
  y = df["anomaly"]
  X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)
  return X_train, X_test, y_train, y_test

In [70]:
# Base test and train data
X_train, X_test, y_train, y_test = split_data(base_data)
print(X_train)

       0      1      2      3      4      5      6      7      8      9    \
35064  372    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
14261  372  402.0  402.0  402.0  402.0  402.0  402.0  402.0  402.0  402.0
34001  372    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0    0.0
47759  542  372.0  374.0  374.0  374.0  374.0  369.0  635.0   39.0  367.0
5325   391  367.0  542.0  391.0  391.0  391.0  391.0  367.0    0.0    0.0
...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
11284  542  371.0  372.0  372.0  372.0  372.0  391.0  372.0  367.0    0.0
44732  367  391.0  371.0  372.0  391.0  391.0  391.0  391.0  391.0  391.0
38158  367  371.0  372.0  372.0  375.0  402.0  402.0  402.0  402.0    0.0
860    369  369.0  369.0  369.0  369.0  369.0  506.0  369.0  398.0  398.0
15795  372  391.0  391.0  392.0  371.0    0.0    0.0    0.0    0.0    0.0

       ...  355  356  357  358  359  360  361  362  363  364
35064  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
14261  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
34001  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
47759  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5325   ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
11284  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
44732  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
38158  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
860    ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
15795  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[40020 rows x 365 columns]

Run the model

In [71]:

# import the generated sessions:
ses_amount = 1000
base_path = f"gen_sessions/{str(ses_amount)}/"

gen_sessions_paths = [
  base_path + f'5_{ses_amount}.csv',
  base_path + f'10_{ses_amount}.csv',
  base_path + f'25_{ses_amount}.csv',
  base_path + f'50_{ses_amount}.csv',
  base_path + f'75_{ses_amount}.csv',
  base_path + f'100_{ses_amount}.csv',
  # base_path + 'an.csv',
  
  # base_path + '75_10000.csv',
  # base_path + '100_10000.csv',
]

In [72]:
auc_score_dicts = {}
dict_prec_and_rec_list = {}

amount_anomalies_list_total = []
precision_score_list_total = []
recall_score_list_total = []

In [75]:
from sklearn.metrics import accuracy_score, balanced_accuracy_score, precision_score, recall_score, roc_auc_score


for sessions in gen_sessions_paths:
    amount_anomalies_list = []
    precision_score_list = []
    recall_score_list = []
    
    # build the dataFrame
    cvs = pd.read_csv(sessions,index_col=False)
    # check if column Unnamed: 0 exists
    if "Unnamed: 0" in cvs.columns : cvs = cvs.drop(columns=["Unnamed: 0"])
    cvs['anomaly'] = 1
    cvs.rename(columns={'URL_FILE':'Activity'}, inplace=True)
    gen_df_seq = transform_session_to_sequence(cvs)

     
    # gen_df_seq['Activity'] = gen_df_seq['Activity'].apply(list_combine)
        
    gen_df_seq['Activity'] = gen_df_seq['Activity'].apply(lambda x: [DICT[i] for i in x])
    
    ready_df = df_for_model(gen_df_seq, "Activity")
    # ready_df = gen_df_seq
    ready_df = ready_df.drop(columns=["SessionID"])
    ready_df = ready_df.sample(frac=1).reset_index(drop=True)
     
    
    for amount_gen in [10, 20, 50, 65, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]:
    # 0 to 10000 in 250
    # for amount_gen in range(0, 5000, 250):
    # from 0 to 250 with a step of 25
    # for amount_gen in [0, 25, 50, 75, 100, 125, 150, 175, 200, 225, 250]:
        amount_real = 0
        df_gen = ready_df[:amount_gen]
         
        # Add the generated anomalies to the training dataset
        X_train_extra = pd.concat([X_train, df_gen.drop(columns=["anomaly"])]).fillna(0)
        y_train_extra = pd.concat([y_train, df_gen["anomaly"]])
        
        clf = tree.DecisionTreeClassifier().fit(X_train_extra, y_train_extra)
        # clf_extra = LogisticRegression(random_state=0, max_iter=1000).fit(X_train_extra, y_train_extra_transformed)
        #y_train_predict = clf_extra.predict(X_train_extra)
        predictions = clf.predict(X_test)
        
        print(sessions)
        print(amount_gen)
        print(accuracy_score(y_test, predictions))
        print(balanced_accuracy_score(y_test, predictions))
        print()

gen_sessions/5000/5_5000.csv
10
0.9985008994603238
0.5994500549945005

gen_sessions/5000/5_5000.csv
20
0.9985008994603238
0.4995000499950005

gen_sessions/5000/5_5000.csv
50
0.997101738956626
0.5987501249875012

gen_sessions/5000/5_5000.csv
65
0.9972016789926045
0.4988501149885011

gen_sessions/5000/5_5000.csv
100
0.9960023985608635
0.49825017498250174

gen_sessions/5000/5_5000.csv
200
0.9934039576254248
0.49695030496950304

gen_sessions/5000/5_5000.csv
300
0.9911053367979212
0.5957504249575043

gen_sessions/5000/5_5000.csv
400
0.9900059964021587
0.49525047495250474

gen_sessions/5000/5_5000.csv
500
0.9866080351788926
0.5935006499350065

gen_sessions/5000/5_5000.csv
600
0.9878073156106336
0.5941005899410059

gen_sessions/5000/5_5000.csv
700
0.9868079152508495
0.49365063493650635

gen_sessions/5000/5_5000.csv
800
0.9844093543873675
0.6923507649235077

gen_sessions/5000/5_5000.csv
900
0.9825104937037777
0.6914008599140087

gen_sessions/5000/5_5000.csv
1000
0.9810113931641016
0.7906009399060094

gen_sessions/5000/10_5000.csv
10
0.9982010793523886
0.49935006499350065

gen_sessions/5000/10_5000.csv
20
0.9979012592444533
0.5991500849915009

gen_sessions/5000/10_5000.csv
50
0.9973016190285828
0.4989001099890011

gen_sessions/5000/10_5000.csv
65
0.9968019188486907
0.49865013498650135

gen_sessions/5000/10_5000.csv
100
0.9965020987407556
0.4985001499850015

gen_sessions/5000/10_5000.csv
200
0.9943034179492305
0.5973502649735026

gen_sessions/5000/10_5000.csv
300
0.9902058764741155
0.5953004699530047

gen_sessions/5000/10_5000.csv
400
0.9886068358984609
0.5945005499450055

gen_sessions/5000/10_5000.csv
500
0.9898061163302019
0.595100489951005

gen_sessions/5000/10_5000.csv
600
0.9867079752148711
0.5935506449355065

gen_sessions/5000/10_5000.csv
700
0.9850089946032381
0.5927007299270073

gen_sessions/5000/10_5000.csv
800
0.9846092344593244
0.6924507549245076

gen_sessions/5000/10_5000.csv
900
0.9842094743154107
0.49235076492350766

gen_sessions/5000/10_5000.csv
1000
0.9819108534879073
0.5911508849115088

gen_sessions/5000/25_5000.csv
10
0.9990005996402159
0.5997000299970003

gen_sessions/5000/25_5000.csv
20
0.998301019388367
0.5993500649935006

gen_sessions/5000/25_5000.csv
50
0.9975014991005396
0.499000099990001

gen_sessions/5000/25_5000.csv
65
0.9963022186687988
0.4984001599840016

gen_sessions/5000/25_5000.csv
100
0.9960023985608635
0.5982001799820018

gen_sessions/5000/25_5000.csv
200
0.9937037777333599
0.4971002899710029

gen_sessions/5000/25_5000.csv
300
0.9921047371577054
0.4963003699630037

gen_sessions/5000/25_5000.csv
400
0.9898061163302019
0.595100489951005

gen_sessions/5000/25_5000.csv
500
0.989106536078353
0.4948005199480052

gen_sessions/5000/25_5000.csv
600
0.9864081551069358
0.49345065493450657

gen_sessions/5000/25_5000.csv
700
0.9872076753947632
0.6937506249375063

gen_sessions/5000/25_5000.csv
800
0.9840095942434539
0.5922007799220078

gen_sessions/5000/25_5000.csv
900
0.9850089946032381
0.49275072492750727

gen_sessions/5000/25_5000.csv
1000
0.9834099540275835
0.5919008099190081

gen_sessions/5000/50_5000.csv
10
0.9987007795322806
0.5995500449955005

gen_sessions/5000/50_5000.csv
20
0.9982010793523886
0.49935006499350065

gen_sessions/5000/50_5000.csv
50
0.9978013192084749
0.599100089991001

gen_sessions/5000/50_5000.csv
65
0.9961023385968419
0.4983001699830017

gen_sessions/5000/50_5000.csv
100
0.9967019788127124
0.4986001399860014

gen_sessions/5000/50_5000.csv
200
0.9950029982010794
0.49775022497750226

gen_sessions/5000/50_5000.csv
300
0.9922046771936838
0.5963003699630037

gen_sessions/5000/50_5000.csv
400
0.9914051569058565
0.49595040495950404

gen_sessions/5000/50_5000.csv
500
0.9885068958624825
0.5944505549445056

gen_sessions/5000/50_5000.csv
600
0.9881071357185689
0.4943005699430057

gen_sessions/5000/50_5000.csv
700
0.9864081551069358
0.49345065493450657

gen_sessions/5000/50_5000.csv
800
0.9870077953228064
0.5937006299370063

gen_sessions/5000/50_5000.csv
900
0.9854087547471517
0.49295070492950704

gen_sessions/5000/50_5000.csv
1000
0.9854087547471517
0.49295070492950704

gen_sessions/5000/75_5000.csv
10
0.998800719568259
0.5996000399960004

gen_sessions/5000/75_5000.csv
20
0.9990005996402159
0.5997000299970003

gen_sessions/5000/75_5000.csv
50
0.9980011992804317
0.5992000799920008

gen_sessions/5000/75_5000.csv
65
0.9967019788127124
0.5985501449855014

gen_sessions/5000/75_5000.csv
100
0.9964021587047771
0.49845015498450157

gen_sessions/5000/75_5000.csv
200
0.9951029382370578
0.4978002199780022

gen_sessions/5000/75_5000.csv
300
0.9922046771936838
0.49635036496350365

gen_sessions/5000/75_5000.csv
400
0.990805516689986
0.6955504449555044

gen_sessions/5000/75_5000.csv
500
0.9921047371577054
0.5962503749625038

gen_sessions/5000/75_5000.csv
600
0.9889066560063962
0.4947005299470053

gen_sessions/5000/75_5000.csv
700
0.9877073755746552
0.5940505949405059

gen_sessions/5000/75_5000.csv
800
0.9849090545672596
0.5926507349265073

gen_sessions/5000/75_5000.csv
900
0.986208275034979
0.5933006699330067

gen_sessions/5000/75_5000.csv
1000
0.986208275034979
0.49335066493350666

gen_sessions/5000/100_5000.csv
10
0.9982010793523886
0.49935006499350065

gen_sessions/5000/100_5000.csv
20
0.9989006596042375
0.5996500349965004

gen_sessions/5000/100_5000.csv
50
0.9981011393164102
0.5992500749925007

gen_sessions/5000/100_5000.csv
65
0.997101738956626
0.5987501249875012

gen_sessions/5000/100_5000.csv
100
0.9962022786328203
0.49835016498350165

gen_sessions/5000/100_5000.csv
200
0.9941035378772737
0.4973002699730027

gen_sessions/5000/100_5000.csv
300
0.9943034179492305
0.4974002599740026

gen_sessions/5000/100_5000.csv
400
0.9926044373375974
0.5965003499650035

gen_sessions/5000/100_5000.csv
500
0.9924045572656406
0.49645035496450357

gen_sessions/5000/100_5000.csv
600
0.9899060563661803
0.6951004899510049

gen_sessions/5000/100_5000.csv
700
0.9898061163302019
0.595100489951005

gen_sessions/5000/100_5000.csv
800
0.9873076154307415
0.4939006099390061

gen_sessions/5000/100_5000.csv
900
0.9854087547471517
0.49295070492950704

gen_sessions/5000/100_5000.csv
1000
0.9849090545672596
0.4927007299270073