In [1]:
import pandas as pd
from collections import Counter
import numpy as np

In [2]:
# base_df = pd.read_csv("../no_repeated.csv", encoding_errors="ignore", on_bad_lines='skip', sep=",",)
base_df = pd.read_csv("../BPI2016_Clicks_Logged_In.csv", encoding_errors="ignore", on_bad_lines='skip', sep=";",usecols=['SessionID', 'TIMESTAMP', 'URL_FILE', ])
base_df.rename(columns={'URL_FILE':'Activity'}, inplace=True)
base_df["TIMESTAMP"] = pd.to_datetime(base_df["TIMESTAMP"], infer_datetime_format=True)
base_df = base_df.sort_values(["SessionID", "TIMESTAMP"])
base_df.head()

KeyboardInterrupt:

In [3]:
# Helper functions
def create_df_for_pivot(_df: pd.DataFrame):
  df = _df.copy()
  #Create consecutive column with the consecutive activity and count how many time each pair occurs
  df["Consecutive_1"] = df.groupby("SessionID")["Activity"].shift(periods=-1)

  #Count all the pairs and safe in new DataFrame
  df_for_pivot_1 = pd.DataFrame(Counter(list(zip(df['Activity'], df['Consecutive_1'],))), index=["value"]).T.reset_index()

  df_for_pivot_1.fillna("end_session", inplace=True)
  return df_for_pivot_1
  
  
def make_pivot(_df, index_names, column_names):
  df = _df.copy()
  """
  Functions that takes in a DataFrame and returns a pivot table with all the chances
  
  Create pivot table where chances are calculated that each row is succeded by activity that is represented in the column
  """
  df_chances = df.pivot_table(index=index_names, columns=column_names, values='value')
  
  #Calculate what the probabilities are by summing the row and dividing all the values in the row by total sum of the row
  df_chances["total_row_count"] = df_chances.sum(axis=1)
  df_chances = df_chances.div(df_chances["total_row_count"], axis=0)
  
  df_chances.fillna(0, inplace=True)
  df_chances.drop("total_row_count", axis=1, inplace=True)

  return df_chances

def calculate_paths_in_sessions(_df:pd.DataFrame,paths:list[str]) -> tuple[int,int]:
  # this function calculates in how many sessions a path is present
  # a path is a series of transitions
  # a transition is two consecutive activities where the 2 activities are not the same
  # we return a tuple where the first value is the total amount of times the path is found and
  # the second value is the total amount of sessions where the path is found
  # group the dataframe by session id
  df = _df.copy()
  # create a new column that contains the consecutive activity
  df["Consecutive_1"] = df.groupby("SessionID")["Activity"].shift(periods=-1)
  # if the consecutive activity is the same as the current activity, remove the row
  # this is done because we only want to count transitions
  df = df[df["Activity"] != df["Consecutive_1"]]
  # remove the consecutive activity column
  df = df.drop("Consecutive_1", axis=1)
  # get the length of the path
  len_path = len(paths)
  # create a column for len_path - 1 consecutive activities
  df = df.assign(**{f"Activity_{i}": df.groupby("SessionID")["Activity"].shift(periods=-i) for i in range(1, len_path)})
  # change name of Activiy column to Activity_0
  df.rename(columns={'Activity':'Activity_0'}, inplace=True)
  # create a column "Found" that contains True if the path is found in the session
  df['Found'] = df.apply(lambda row: all(row[f"Activity_{i}"] == paths[i] for i in range(len_path)), axis=1)
  total = df['Found'].sum()
  sessions = df[df['Found'] == True]['SessionID'].nunique()
  return total,sessions


def all_paths_len_x(_df:pd.DataFrame,len):
  df = _df.copy()
  df["Consecutive_1"] = df.groupby("SessionID")["Activity"].shift(periods=-1)
  # if the consecutive activity is the same as the current activity, remove the row
  # this is done because we only want to count transitions
  df = df[df["Activity"] != df["Consecutive_1"]]
  # remove the consecutive activity column
  df = df.drop("Consecutive_1", axis=1)
  # create a column for len_path - 1 consecutive activities
  df = df.assign(**{f"Activity_{i}": df.groupby("SessionID")["Activity"].shift(periods=-i) for i in range(1, len)})
  # change name of Activiy column to Activity_0
  df.rename(columns={'Activity':'Activity_0'}, inplace=True)
  # create a column that counts the amount of times the path is found
  df = df.groupby([f"Activity_{i}" for i in range(len)]).size().reset_index(name='count')
  total_count = df['count'].sum()
  df['probability'] = df['count'] / total_count
  return df
  
  

def activity_prob_df(_df:pd.DataFrame) -> pd.DataFrame:
  # group the dataframe by activity and count the number of times each activity occurs
  df = _df.copy()
  total_amount_of_activities = df['Activity'].count()
  # create df where each row contains the activity with columns: Activity, Count, Probability
  final_df = df.groupby('Activity').count().reset_index()
  # Drop column Timestamp
  final_df = final_df.drop('TIMESTAMP', axis=1)
  # change SessionID column name to Count
  final_df.rename(columns={'SessionID':'Count'}, inplace=True)
  # create Probability column
  final_df = final_df.assign(Probability=final_df['Count']/total_amount_of_activities * 100)
  
  return final_df.sort_values('Probability', ascending=False)

In [4]:
# Create df for pivot
df_for_pivot = create_df_for_pivot(base_df)
df_chances_1 = make_pivot(df_for_pivot, "level_0", "level_1")

#Calculate the probability of each activity that it is the first activity performed in the session
df_chances_1["start_session_chance"] = base_df.groupby("SessionID").nth(0)["Activity"].value_counts() / base_df.groupby("SessionID").nth(0)["Activity"].value_counts().sum()
df_chances_1.fillna(0, inplace=True)

df_chances_total = df_chances_1 
df_chances_total

#Split the start probabilities from the normal DataFrame
start_chances = df_chances_total["start_session_chance"][df_chances_total["start_session_chance"] > 0]

#Create df with all chances except the starting chance.
final_df = df_chances_total.iloc[:, :-1]
final_df
probability_matrix = final_df.copy()

In [5]:
activity_prob = activity_prob_df(base_df)
top_X = activity_prob.head(3)

In [6]:
l_2 = all_paths_len_x(base_df,2)
# drop probabilitie
l_2 = l_2.drop("probability", axis=1)
l_2

,Activity_0,Activity_1,count
0,/,/portal/pls/portal/PORTAL.wwsbr_javascript.pag...,1
1,/,/portal/pls/portal/PORTAL.wwsec_app_priv.logout,3
2,/,/shared/foutopgetreden.html,2
3,/,/werk_nl/werknemer/contact,1
4,/,/werk_nl/werknemer/home,125
...,...,...,...
15009,/zoeken_portlet/ajax/zoekBeroep,/xpsimage/wdo211812,1
15010,/zoeken_portlet/ajax/zoekBeroep,/xpsimage/wdo_010304,1
15011,/zoeken_portlet/ajax/zoekBeroep,/zoeken_portlet/ajax/zoekAantalIndicatief,9322
15012,/zoeken_portlet_wg/ajax/selectContactpersoon,/werk_nl/werkgever/cvs_zoeken,5
15013,/zoeken_portlet_wg/ajax/selectVacature,/werk_nl/werkgever/cvs_zoeken,2

In [7]:
l_3 = all_paths_len_x(base_df,3)
# drop probabilitis
l_3 = l_3.drop("probability", axis=1)
l_3_no_c = l_3[l_3['Activity_0'] != l_3['Activity_2']]

In [8]:
l_3_no_c = l_3_no_c.sort_values('count', ascending=False)
l_3_final = l_3_no_c.head(1000)
l_3_final

,Activity_0,Activity_1,Activity_2,count
22098,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/home,17976
17217,/werk_nl/werknemer/home,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,17633
59357,/werk_nl/werknemer/werkmap,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,15372
59355,/werk_nl/werknemer/werkmap,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/home,14121
24057,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/home,13611
...,...,...,...,...
32760,/werk_nl/werknemer/mijn_werkmap/postvak/mijn_b...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/over-werk-nl/handleiding/so...,187
21984,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/home,/werk_nl/werknemer/vacatures,187
60230,/werk_nl/werknemer/werkmap,/werk_nl/werknemer/over-werk-nl/handleiding,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,187
11520,/shared/timeout.htm,/werk_nl/werknemer/home,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,187
17162,/werk_nl/werknemer/home,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,186

In [9]:
# merge l_3_final with l_2 where l_3_final['Activity_0'] == l_2['Activity_0'] and l_3_final['Activity_2'] == l_2['Activity_1']
# keep columns Activity_0, Activity_1, Activity_2, count_x, count_y
merge = pd.merge(l_3_final, l_2, left_on=['Activity_0','Activity_2'], right_on=['Activity_0','Activity_1'], how='inner')

In [10]:
# drop probability_x	skip column
merge['facc'] = merge['count_x'] / merge['count_y']

merge = merge[merge['facc'] > 0]
merge = merge.sort_values('facc', ascending=False)

In [11]:
FAC = 15
merge_fac = merge[merge['facc'] > FAC]
# drop columns Activity_1_y
merge_f = merge_fac.drop("Activity_1_y", axis=1)
merge_f

,Activity_0,Activity_1_x,Activity_2,count_x,count_y,facc
671,/werk_nl/werknemer/uitkering-aanvragen/ww,/portal/page/portal/home/diensten/aanvragen-ww,/portal/page/portal/home/diensten/overzicht,728,1,728.000000
726,/werk_nl/werknemer/eintake/inschrijven,/portal/page/portal/home/diensten/aanvragen-ww,/portal/page/portal/home/diensten/overzicht,579,1,579.000000
847,/werk_nl/werknemer/mijn_werkmap/postvak/mijn_b...,/werk_nl/werknemer/solliciteren/ontwikkel-uzel...,/portal/page/portal/werk_nl/werknemer/sollicit...,344,1,344.000000
963,/werk_nl/werknemer/mijn_werkmap/postvak/mijn_tips,/werk_nl/werknemer/mijn_werkmap/postvak/mijn_t...,/werk_nl/werknemer/mijn_werkmap/postvak/mijn_t...,216,2,108.000000
814,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/ewerkmap/readdetails,383,4,95.750000
535,/portal/page/portal/home/diensten/overzicht,/portal/page/portal/home/diensten/aanvragen-ww,/werk_nl/werknemer/home,1620,20,81.000000
817,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/zoeken_portlet/ajax/zoekBeroep,377,6,62.833333
992,/zoeken_portlet/ajax/zoekAantalIndicatief,/werk_nl/werknemer/vacatures,/zoeken_portlet/ajax/addVacatureToGereageerd,189,4,47.250000
757,/werk_nl/werknemer/werkmap,/werk_nl/werknemer/vacatures,/zoeken_portlet/ajax/zoekBeroep,505,11,45.909091
950,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/over-werk-nl/handleiding/so...,/xpsitem/wdo_013142,225,6,37.500000
505,/werk_nl/werknemer/home,/werk_nl/werknemer/vacatures,/zoeken_portlet/ajax/zoekBeroep,1861,52,35.788462
892,/shared/foutopgetreden.html,/werk_nl/werknemer/uitkering-aanvragen,/portal/page/portal/werk_nl/werknemer/uitkerin...,283,8,35.375000
969,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/zoeken_portlet/ajax/zoekAantalIndicatief,204,6,34.000000
632,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/mijn_werkmap/doorgeven/take...,828,26,31.846154
927,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/mi...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/ewerkmap/readdetails,247,8,30.875000
611,/werk_nl/werknemer/home,/werk_nl/werknemer/vacatures,/zoeken_portlet/ajax/zoekAantalIndicatief,976,36,27.111111
771,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/vacatures,/zoeken_portlet/ajax/zoekBeroep,484,19,25.473684
778,/werk_nl/werknemer/home,/werk_nl/werknemer/uitkering-aanvragen,/portal/page/portal/werk_nl/werknemer/uitkerin...,469,19,24.684211
827,/portal/page/portal/werk_nl/werknemer/eintake/...,/werk_nl/werknemer/eintake/inschrijven,/portal/page/portal/home/diensten/aanvragen-ww,363,15,24.200000
808,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/werk_nl/ignore_request_page,388,17,22.823529
783,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/werk_nl/ignore_request_page,457,21,21.761905
773,/werk_nl/werknemer/mijn_werkmap/doorgeven/mijn...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/eintake/inschrijven,482,24,20.083333
916,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/home,/werk_nl/werknemer/over-werk-nl/evenementen/ev...,256,13,19.692308
742,/werk_nl/werknemer/uitkering-aanvragen,/portal/page/portal/werk_nl/werknemer/uitkerin...,/portal/page/portal/home/diensten/aanvragen-ww,529,29,18.241379
772,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/zoeken_portlet/ajax/zoekBeroep,322,19,16.947368
945,/werk_nl/werknemer/mijn_werkmap/werk-zoeken/va...,/werk_nl/werknemer/mijn_werkmap/doorgeven/taken,/werk_nl/werknemer/mijn_werkmap/doorgeven/take...,228,15,15.200000

In [12]:
# skipping df = merge_f with columns Activity_0, Activity_2
skip_df = merge_f[['Activity_0', 'Activity_1_x','Activity_2']]
# change name of Activity_1_x to Activity_1

skip_df = skip_df.rename(columns={'Activity_1_x':'Activity_1'})

In [13]:
# Function to find the skipping patterns in a session.
def find_anomalous_sessions(df:pd.DataFrame,skipping_patterns:pd.DataFrame) -> list[int]:
  sessions_df = df.copy()
  # Create a new column with the consecutive activity
  sessions_df["Consecutive_Activity"] = sessions_df.groupby("SessionID")["Activity"].shift(periods=-1)  

  merged = pd.merge(sessions_df, skipping_patterns, left_on=['Activity','Consecutive_Activity'], right_on=['Activity_0','Activity_2'], how='inner',indicator='Anomaly')
  merged['Anomaly'] = np.where(merged.Anomaly == 'both', True, False)
  
  anomalous_session = merged[merged['Anomaly'] == True]
  # create a list with all SessionIDs that have an anomaly
  anomaly_sessions = anomalous_session['SessionID'].unique()
  
  return anomaly_sessions

In [14]:
sessions = find_anomalous_sessions(base_df,skip_df)

In [15]:
# print(sessions)

In [16]:
# create a new column in the base_df to indicate if the session is anomalous
# if a session is anomalous it will have a True in the column else False
# labeled_df = base_df.copy()
# labeled_df["anomaly"] = base_df["SessionID"].apply(lambda x: x in sessions)

In [17]:
import random


def label_80(ids:list[int]) -> list[int]:
  sample = random.sample(ids,k=int(0.8*len(ids)))
  return sample

sample = label_80(list(sessions))
len(sample)
  
labeled_sample = base_df.copy()
labeled_sample["anomaly"] = labeled_sample["SessionID"].apply(lambda x: x in sample)
print('done')
labeled_sample.to_csv(f"./labeled_data/Skipped_Sample.csv",index=False)

done

In [18]:
labeled_df

NameError: name 'labeled_df' is not defined

In [ ]:
countAnomalies = labeled_df[labeled_df["anomaly"] == True]["SessionID"].nunique()
countAnomalies

355

In [ ]:
countNormal = labeled_df[labeled_df["anomaly"] == False]["SessionID"].nunique()
countNormal

659915

In [ ]:
countTotal= labeled_df["SessionID"].nunique()
countTotal

660270

In [ ]:
countAnomalies + countNormal == countTotal

True

In [ ]:
# save in csv
# labeled_df.to_csv(f"./labeled_data/labeled_df_{FAC}.csv",index=False)
# skip_df.to_csv(f"./gen_patterns/skip_df_{FAC}.csv",index=False)